/* font */
.noto-sans {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.noto-serif {
    font-family: "Noto Serif KR", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.ballet{
    font-family: "Ballet", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    color: #333;
    font-size: 16px;   
    box-sizing: border-box;
    word-break: keep-all;
}

body {
    background-color: #eee;
    font-family: "Noto Serif KR", serif;
}

img {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

/* common_style */
.text_white{
    color: white;
}
.pattern{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 15 / 1;
    position: relative;
    z-index: 2;
}
.bg_pattern {
    background-image: url(./img/pattern.png);
    width: 100%;
    background-size: cover;
}
.pattern_top {
    background-image: url(./img/pattern_top.png);
    margin-top: calc(-100% / 15 + 10px);
    margin-bottom: -1px;
}
.pattern_bottom {
    background-image: url(./img/pattern_bottom.png);
    margin-bottom: calc(-100% / 15);
}
.text_blue {
    color: #7aaac7;
}
.text_pink {
    color: #e295a6;
}
.text_bold {
    font-weight: 800;
}
.bg_blue {
    background-color: #a8d0e6;
}
.bg_pink {
    background-color: #e295a6;
}
.bg_gray {
    background-color: #dedede;
}
.sub_title {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.05em;
    position: relative;
}
.sub_title::before,
.sub_title::after {
    content: "";
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23e295a6' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 C2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09 C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.42 22 8.5 c0 3.78-3.4 6.86-8.55 11.54L12 21.35z'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 25px;
    position: relative;
}
.title {
        font-size: 1.345rem;
        font-weight: 800;        
    }

section {
    max-width: 720px;
}

/* section1 메인 비주얼 */
#section_1 {
    width: fit-content;
    position: relative;
    p, span {
        color: white;
        font-size: 1rem;
    }
    .ballet {
        font-family: "Ballet", cursive;
        font-size: 1.5rem;
    }
    .font_big {
        font-size: 1.5rem;
    }
    .name {
        font-size: 1.25rem;
    }
    img {
        position: relative;
        z-index: 1;
        height: auto;
    }
    .grid_area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        z-index: 2;

        .text_area {
            text-align: center;
            /* 세로 정렬 */
            display: flex;
            justify-content: center;
            align-items: center;

            .flex_area{
                display: flex;
                gap: 30px;
            }
        }
    }  
}

/* section2 초대의 말 */
#section_2 {
    text-align: center;
    line-height: 1.8rem;
    position: relative;
    z-index: 2;
    .bg_pattern {
        padding: 80px 0;
    }
    
    .main_content {
        margin: 36px auto;
        span {
            font-weight: 800;
        }
    }
    .border {
        background-image: url(./img/nature.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 50px;
        height: 50px;
        width: 100%;
    }
    .name {
        margin: 36px 0;
        span {
            font-size: 1.25rem;
            letter-spacing: 3px;
            margin-left: 5px;
            font-weight: 600;
        }
    }
    
}

/* section3 캘린더 */
#section_3 {
    padding: 100px 0;
    .month {
        font-size: 1.5rem;
        font-weight: 600;
        color: #000;
        margin: 40px 0;
        padding: 10px;
        text-align: center;
        position: relative;
    }
    .month::after,
    .month::before {
        content: "";
        position: absolute;
        width: 40%;
        height: 100%;
        border: thin solid #e295a6;
        top: 0;
        left: 50%;
        border-radius: 100%;
    }
    .month::before {
        transform: translateX(-50%);
    }
    .month::after {
        transform: translateX(-50%) rotate(-5deg);
    }
    .calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px 0;
        margin: 0 auto;
        width: 70%;
        text-align: center;
        justify-content: center;
        div {
            padding: 0.5em;
            border-radius: 50%;
            aspect-ratio: 1;
            min-height: 1;
            color: #666;
            font-size: 0.9rem;
        }
        .empty {
            visibility: hidden;
        }   
        .dday {
            background-color: #e295a6;
            color: white;
            font-weight: bold;
            position: relative;
        }
        .dday::before {
            content: "";
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background-image: url("data:image/svg+xml;utf8,<svg fill='%23e295a6' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 C2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09 C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.42 22 8.5 c0 3.78-3.4 6.86-8.55 11.54L12 21.35z'/></svg>");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-50%, 30%);
        }
    }

    .info {
        margin-top: 40px;
        padding: 30px 20px 20px;
        border: 1px solid #e295a6;
        /* border-radius: 5px; */
        width: 70%;
        position: relative;   
        p {
            text-align: center;
            font-weight: 600;
            font-size: 1.125rem;
            color: #000;
            line-height: 1.5;
            white-space: nowrap;
        }
        
    }
    .info::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid #e295a6;
        top: 5px;
        left: 5px;
    }
}

/* section4 디데이 */
#section_4 {
    background-image: url(./img/pattern.png);
    background-repeat: no-repeat;
    padding: 50px 0;
    .flex_area {
        display: flex;
        width: 75%;
        text-align: center;
    }
    .title {
        margin-bottom: 10px;
        p {
            color: #666;
            font-size: 0.825rem;
        }
    }
    .dday {
        p {
            font-size: 1.25rem;
            font-weight: 600;
        }
    }
    .dday-summary {
        text-align: center;
        display: block;
        padding-top: 30px;
        /* color: #666; */
        font-size: 1rem;
        span {
            font-weight: 800;
        }
    }
}

/* section5 갤러리 */
#section_5 {
    padding: 100px 0;
    .gallery_grid {
        width: 90%;
        margin: 50px auto 0;
        position: relative;
        /* 높이 제한 */
        max-height: 600px;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }
    /* 공통 너비 */
    .gallery_grid .grid-sizer,
    .gallery_grid a {
        width: calc(50% - 8px); /* 2열 + gutter 고려 */
        float: left; /* 핵심 */
    }

    .gallery_grid a {
        display: block;
        margin-bottom: 16px;
        border-radius: 10px;
    }

    .gallery_grid img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
    }

    /* 더보기 버튼 작업 */
    .show-all {
        max-height: 9999px;
        margin: 50px auto;
        transition: max-height 0.5s ease;
    }

    .more-btn {
        text-align: center;
        margin-top: -100px;
        padding: 70px 0 50px;
        position: relative;
        z-index: 3;
        background: linear-gradient(to bottom, rgba(222,222,222,0) 0%, rgba(222,222,222,1) 30%);
        /* background-color: #dedede; */

        #moreBtn {
            background: none;
            border: none;
            font-size: 0.85rem;
            font-weight: 600;
            cursor: pointer;
            color: #555;
            position: relative;
            padding: 20px;
        }
        #moreBtn::after {
            content: "";
            position: absolute;
            background-image: url(./img/allow.svg);
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            width: 24px;
            height: 24px;
        }
        #moreBtn.open::after {
            transform: translateX(-50%) rotate(180deg);
            bottom: 0;
            top: -15px;
        }
    }
}

/* section6 프로필 */
#section_6 {
    text-align: center;
    .sub_title {
        padding-top: 80px;
    }
    .profile-grid {
        display: grid;
        width: 80%;
        margin: 0 auto;
        padding: 50px 0 100px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
        p, span {
            font-size: 0.85rem;
            white-space: nowrap;
        }
        .name {
            font-size: 1.25rem;
            font-weight: 600;
            span {
                font-weight: normal;
            }
        }
        .border {
            width: 16px;
            height: 16px;
        }
    }
    .bloom, .bride {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
}

/* section7 장소안내 */
#section_7 {
    padding: 100px 0 50px;
    text-align: center;
    .sub_title {
        margin-top: 50px;
    }
    .tab_container {
        width: 80%;
        margin: 50px auto;
        input[type="radio"] {
            display: none;
        }
        .tab-header {
            display: flex;
            gap: 10px;
            label {
                flex: 1;
                text-align: center;
                padding: 10px 0;
                cursor: pointer;
                transition: 0.2s;
                border-bottom: 2px dotted #e295a6;
                font-size: 0.825rem;
            }
            label:hover{
                color: #e295a6;
            }
        }

        #tab1:checked ~ .tab-header label[for="tab1"],
        #tab2:checked ~ .tab-header label[for="tab2"],
        #tab3:checked ~ .tab-header label[for="tab3"] {
            font-weight: bold;
            color: #e295a6;
        }

        .tab-content {
            margin-top: 20px;
            display: none;
            p {
                text-align: left;
                font-size: 0.825rem;
                margin-top: 16px;
                font-family: "Noto Sans KR", sans-serif;
            }
        }

        #tab1:checked ~ .tab-content.content1,
        #tab2:checked ~ .tab-content.content2,
        #tab3:checked ~ .tab-content.content3 {
            display: block;
        }
    }
}

/* section8 지도 */
#section_8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sub_title {
        padding: 80px 0 50px;
    }
    .address {
        text-align: center;
        line-height: 1.8rem;
    }
    .copy {
        border: none;
        background-color: #fff;
        color: #666;
        padding: 8px;
        margin: 20px auto 50px;
        border-radius: 5px;
        display: block;
        font-size: 0.825rem;
    }
    #map {
        width: 80%;
        margin: 0 auto;
        height: 300px;
    }
    .quick-map {
        width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 2%;
        background-color: #fff;
        margin-top: 20px;
        border-radius: 10px;
        align-items: center;
        .quick-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33.333%;
            padding: 10px 0;
            img {
                width: 16px;
                height: 16px;
                margin: 0;
            }
            p {
                font-family: "Noto Sans KR", sans-serif; 
                font-size: 0.825rem;
                margin: 0;
                margin-left: 8px;
            }
        }
        .line {
            width: 1px;
            height: 20px;
            background-color: #7aaac7;
        }
    }

    .description {
        width: 80%;
        margin: 50px auto 80px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        div, p {
            margin: 0;
        }
        .d-header {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px 5px;
            border-bottom: 1px dotted #7aaac7;
            
            .img-wrap {
                width: 32px;
                height: 32px;
                background-color: #fff;
                border-radius: 100%;
                border: 1px solid #dedede;
                padding: 4px;
            }
        }
        .d-content {
            padding: 20px 0;
            li {
                list-style: none;
                margin-bottom: 4px;
                strong {
                    color: red;
                }
                small {
                    font-size: 0.825rem;
                }
            }
        }
    }
}

/* section9 계좌번호 */
#section_9 {
    padding: 100px 0;
    .main_text {
        padding: 50px 0;
        text-align: center;
        line-height: 1.8;
    }

    .account {
        width: 80%;
        margin: 0 auto;

        .accordion-header {
            display: flex;
            width: 100%;
            /* height: 40px; */
            padding: 10px;
            /* background-color: yellow; */
            justify-content: center;
            align-items: center;
            p {
                white-space: nowrap;
                width: 100%;
                padding-left: 10px;
                font-size: 0.825rem;
            }
            img {
                width: 24px;
                height: 24px;
            }
        }

        .accordion-content {
            width: 100%;
            display: none;
            .account-list {
                padding: 16px 10px;
                margin-top: -1px;
                .account-num, .action {
                    display: flex;
                    justify-content: space-between;
                    gap: 2%;
                    p, span {
                        margin: 0;
                        font-size: 0.825rem;
                    }
                    b {
                        font-size: 0.9rem;
                    }
                }
                .action a{
                    border: none;
                    width: 48%;
                    background-color: transparent;
                    margin-top: 10px;
                    font-size: 0.9rem;
                    white-space: nowrap;
                    display: flex;
                    .img-area {
                        width: 30%;
                        height: 100%;
                        background-color: yellow;
                    }
                }
            }
        }
        .left {
            float: left;
        }
        .right {
            float: right;
        }
        .bloom {
            .accordion-header {
                background-color: rgba(168,203,230,0.25);
                border: 1px solid #7aaac7;
            }
            .account-list {
                border: 1px solid #7aaac7 !important;
            }
        }
        .bride {
            margin-top: 20px;
            .accordion-header {
                background-color: rgba(226,149,166,0.25);
                border: 1px solid #e295a6;
            }
            .account-list {
                border: 1px solid #e295a6;
            }
        }
    }
}

footer {
    width: 100%;
    max-width: 720px;
    height: 200px;
    background-image: url(./gallery/18.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        .sub_title {
            padding-top: 30px;
            font-size: 0.7rem;
        }
        p, b {
            color: #fff;
            text-align: center;
            width: 70%;
            font-size: 0.825rem;
        }
        .copyright {
            font-size: 0.7rem;
            opacity: 0.7;
            width: 100%;
        }
    }
}

/* 이미지 대문 */
#loading {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 720px;
    height: 100%;
    z-index: 999;
    opacity: 1;
    transition: opacity 2s;
    background-color: #fad4ef;
    /* 배경을 이미지로 할 경우 */
    /* background-image: url(./gallery/12.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
        color: #fff;
        font-family: "Hi Melody", sans-serif;
    }
}

.hi-melody-regular {
  font-family: "Hi Melody", sans-serif;
  font-weight: 400;
  font-style: normal;
}


#loading.hide {
    opacity: 0;
}
